# Clerk
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=[Clerk public key]
CLERK_SECRET_KEY=[Clerk secret key]
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up
NEXT_PUBLIC_CLERK_AFTER_SIGN_IN_URL=/
NEXT_PUBLIC_CLERK_AFTER_SIGN_UP_URL=/

# Database
DATABASE_URL=[Mysql Database url]

# Uploadcare
NEXT_PUBLIC_UPLOADCARE_PUBLIC_KEY=[Uploadcare public key]

# LiveKit
LIVEKIT_API_KEY=[live kit api key]
LIVEKIT_API_SECRET=[live kit secret]
NEXT_PUBLIC_LIVEKIT_URL=[live kit app url, provided by live kit]
